.navbar {
    background-color:rgb(31, 29, 29);
    padding: 10px;
    height: 50px;
    width: 100%;
  }  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .nav-item {
    margin-right: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 15px;
    margin-left:80px;

  }
  .nav-item:hover {
    text-decoration:none;
    color:bisque;
  }
  .nav-display{
    display: flex;
    flex-direction: row;
  }


.wallpaper{
    background-image: url("https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg?size=626&ext=jpg&ga=GA1.1.1877224754.1698289699&semt=ais");
    height: 100vh;
   background-size: cover;

}


.display{
  display: flex;
  flex-direction: row;
}